fastapi==0.92.0
pydantic==1.10.4
uvicorn==0.20.0
gunicorn==23.0.0
azure-functions
load-dotenv
azure-ai-ml
azure-identity
azure-keyvault
azure-keyvault-secrets
azure-storage-blob
pytz
panda
langchain-openai
langchain
promptflow-rag
PyPDF2
faiss-cpu
numpy